*~
gnome-screenshot
org.gnome.Screenshot.desktop
org.gnome.Screenshot.service
gnome-screenshot.schemas
*.o

*.tar.xz

po/*.gmo
po/stamp-it
po/Rules-quot
po/POTFILES
po/*.sed
po/*.template
po/*.sin
po/*.header
po/*.pot

src/screenshot-resources.*

Makefile
Makefile.in*

*.gschema.valid
