gnome-screenshot
gnome-screenshot.desktop
gnome-screenshot.schemas
*.o

.deps
.libs
ABOUT-NLS
aclocal.m4
autom4te.cache
compile
config*
depcomp
install-sh
missing
m4
stamp-h1
*.tar.xz

po/*.gmo
po/.intltool-merge-cache
po/stamp-it
po/Rules-quot
po/POTFILES
po/*.sed
po/*.template
po/*.sin
po/*.header

Makefile
Makefile.in*

*.gschema.xml
*.gschema.valid
