/.gitattributes                 export-ignore
/.gitignore                     export-ignore
/configure                      export-ignore
/gnome-screenshot.doap          export-ignore
/build-aux/make_release.sh      export-ignore
